/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}*/
body {
  background-image: url('./assets/nyc1.jpg');
  background-repeat: no-repeat;

}
.mainTitle, .selection {
  text-align: center;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainList {
  border: 1px solid black;
  border-radius: 7px;
  width: 25%;
  height: 13rem;
  padding: 30px 20px;
  margin: 20px;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  background-color: rgba(192,192,192,0.7);
}
a{
color: black;
}
a:hover {
  text-decoration: none;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.title {
  font-size: 25px;
}
.material-icons {
  cursor: pointer;
}
.formulaire {
  display: flex;
  justify-content: center;
  align-items: baseline;

}
.urStory {
  margin: 20px;
}

.dialogBody {
  text-align: center;
}
.dialogTitle {
  margin-bottom: 30px;
}
.dialogText {
  text-align: justify;
}
.dialogAuthor {
  text-align: right;
}
.buttonsLikeDeleteClose {
  text-align: right;
}
.heart:hover {
  /*color: red;*/
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
